@import "@/styles/functions";
@import "@/styles/variables";
@import "@/styles/mixins";

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
}

.backdrop {
    transform-origin: 50% 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    @include scrimGradient($black, "to bottom");
}

.corner {
    display: block;
    position: absolute;
    left: calc(100% - $container-padding + 20px);
    top: 4px;
    width: 50px;
    height: 50px;
    transition: opacity 0.5s;
    opacity: 0;

    @include lg {
        opacity: 1;
    }
}

.nav {
    position: relative;
    margin-top: -5px;
    height: 20px;

    &::before {
        content: "";
        position: absolute;
        left: -16px;
        top: 12px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $mint;
    }
}

.navlinks {
    transition: transform 0.5s $ease-out;
}

.link {
    padding: 5px 0;
    line-height: 20px;
    transition: color 0.25s;
}

.active {
    color: $mint;
}
