@import "@/styles/functions";
@import "@/styles/variables";
@import "@/styles/mixins";

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
}

.backdrop {
    transform-origin: 50% 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    background: linear-gradient(
        to bottom,
        hsl(240deg, 41%, 10%) 0%,
        hsla(240deg, 41%, 10%, 0.738) 19%,
        hsla(240deg, 41%, 10%, 0.541) 34%,
        hsla(240deg, 41%, 10%, 0.382) 47%,
        hsla(240deg, 41%, 10%, 0.278) 56.5%,
        hsla(240deg, 41%, 10%, 0.194) 65%,
        hsla(240deg, 41%, 10%, 0.126) 73%,
        hsla(240deg, 41%, 10%, 0.075) 80.2%,
        hsla(240deg, 41%, 10%, 0.042) 86.1%,
        hsla(240deg, 41%, 10%, 0.021) 91%,
        hsla(240deg, 41%, 10%, 0.008) 95.2%,
        hsla(240deg, 41%, 10%, 0.002) 98.2%,
        hsla(240deg, 41%, 10%, 0) 100%
    );
}

.corner {
    display: block;
    position: absolute;
    left: calc(100% - $container-padding + 20px);
    top: 4px;
    width: 50px;
    height: 50px;
    transition: opacity 0.5s;
    opacity: 0;

    @include lg {
        opacity: 1;
    }
}

.nav {
    position: relative;
    height: 20px;

    &:has(a:nth-child(1).active) a {
    }

    &:has(a:nth-child(2).active) a {
        transform: translateY(-100%);
    }

    &:has(a:nth-child(3).active) a {
        transform: translateY(-200%);
    }

    &:has(a:nth-child(4).active) a {
        transform: translateY(-300%);
    }

    &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 8px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $mint;
    }
}

.active {
    color: $mint;
}
