body {
    font-family: var(--font-sans);
    font-size: clampValues(16, 18, $sm, $xl);
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $mint;
}

h1 {
    font-size: clampValues(30, 80, $sm, $xxl);
}

h2 {
    font-size: clampValues(24, 64, $sm, $xl);
}

h3 {
    font-size: clampValues(18, 48, $sm, $xl);
}

h4,
h5,
h6 {
    font-size: clampValues(18, 32, $sm, $xl);
}

p {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}
