body {
    font-family: var(--font-sans);
    font-size: clampValues(16, 20, $sm, $xxl);
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: $font-weight-black;
    line-height: 1.1;
    color: $mint;
}

h1,
.h1 {
    font-size: clampValues(30, 80, $sm, $xxl);
}

h2,
.h2 {
    font-size: clampValues(24, 64, $sm, $xxl);
}

h3,
.h3 {
    font-size: clampValues(18, 48, $sm, $xxl);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-size: clampValues(18, 24, $sm, $xxl);
}

p {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}
