@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/functions";
@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/typography";

:root {
    --font-sans: "manifold-cf", sans-serif;
    --font-mono: "cartograph-cf", monospace;
}

body {
    background-color: $black;
}

.container {
    max-width: 1960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $container-padding;
}

main {
    min-height: 100vh;
    overflow: hidden;
}

.header-padding {
    padding-top: clampValues(160, 300, $sm, $xl);
}

.section-margin {
    margin: clampValues(100, 200, $sm, $xl) 0;
}

.section-padding {
    padding: clampValues(60, 100, $sm, $xl) 0;
}

.section-padding-top {
    padding-top: clampValues(60, 100, $sm, $xl);
}

.section-padding-bottom {
    padding-bottom: clampValues(60, 100, $sm, $xl);
}
