@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://use.typekit.net/gzr7byz.css";

@import "@/styles/functions";
@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/typography";

:root {
    --font-sans: industry, sans-serif;
    --font-mono: source-code-pro, monospace;
}

body {
    background-color: $dark-blue;
}

.container {
    max-width: 1960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $container-padding;
}

main {
    min-height: 200vh;
    overflow: hidden;
}

.header-padding {
    padding-top: clampValues(160, 300, $sm, $xl);
}

.section-padding {
    padding: clampValues(60, 100, $sm, $xl) 0;
}
